@import '@/app/colors';
.wrapper {
	display: block;
	z-index: 4;
}
.logo,
.logoLight {
	color: $white;
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: none;
	span {
		color: $main-green-color;
	}
}
.logoLight {
	color: $secondary-blue-color;
}
