.footer {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 10px;
	border: 1px solid red;
	max-height: 400px;
	.container {
		// width: 100%;
	}
	.copyright {
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.linkContainer {
	position: relative;
}
