@import '@/styles/typography';
.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	width: 100px;
	height: 100px;
	padding: 20px;
	border: 2px solid $main-green-color;
	border-radius: 15px;
	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
	transition: 0.3s box-shadow;
	&:hover {
		box-shadow: 0 0 5px 1px $main-green-color;
	}
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	padding: 8px;
	border-radius: 15px;
}
