@import '@/styles/typography';
.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	width: 100px;
	height: 100px;
	padding: 20px;
	border: 2px solid $main-green-color;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s box-shadow;
	&:hover {
		box-shadow: 0 0 5px 1px $main-green-color;

		.header {
			color: $main-green-color;
		}
	}
}
.header {
	color: $white;
	transition: 0.5s color;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	padding: 8px;
	border-radius: 15px;
}
@media screen and (min-width: 1000px) {
	.item {
		width: 45%;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: 10px;
	}
}
@media screen and (min-width: 1300px) {
	.item {
		width: 45%;
		gap: 10px;
		padding: 25px;
	}
	.header {
		font-size: 2rem;
	}
}
