@import '@/styles/typography';
.item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	width: 100px;
	height: 100px;
	padding: $main-padding;
	border: 2px solid $main-green-color;
	border-radius: 25px;
	max-width: 100px;
	max-height: 100px;
}
