// Colors
$background-color: #0f1013;
$alcia-blue: #010214;
$secondary-background: $alcia-blue;
$main-green-color: #088538;
$main-green-dark: #075525;
$main-green-light: #11ca58;
$secondary-blue-color: #0f1013;
$secondary-blue-light: #1f2127;
$white: #fff;
$black: #000;
