// Colors
$background-color: #0f1013;
$main-green-color: #088538;
$main-green-dark: #075525;
$main-green-light: #11ca58;
$secondary-blue-color: #0f1013;
$white: #fff;
$black: #000;
// Headings

// Buttons
