@import './typography';
// This file contains main styles for a aplication
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	height: 100%;
	font-family: var(--font-poppins);
}
.dark {
	background-color: $background-color;
	color: $main-green-color;
}
.light {
	background-color: #ddd;
	color: $secondary-blue-color;
}
