@import './typography';
// This file contains main styles for a aplication
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	height: 100%;
	font-family: var(--font-poppins);
}
.dark {
	background-color: $background-color;
	color: $main-green-color;
}
.light {
	background-color: $white;
	color: $secondary-blue-color;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	background-color: #333;
}
::-webkit-scrollbar-thumb {
	border-radius: 25px;
	background-color: $main-green-color;
	transition: background-color 0.3s;
}
::-webkit-scrollbar-thumb:hover {
	background-color: $main-green-light;
}
