@import '@/app/typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.nav {
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	padding-left: 2%;
	gap: 5px;
	background-color: $secondary-blue-light;
}
.dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	&:first-of-type {
		background-color: #ff0000;
	}
	&:nth-of-type(2) {
		background-color: #ffd900;
	}
	&:last-of-type {
		background-color: #098109;
	}
}
.window {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	min-height: 80vh;
	gap: 10px;
	padding: 3%;
	h1 {
		color: $main-green-color;
		font-size: 12rem;
	}
	p,
	a {
		font-size: 4.2rem;
	}
	p {
		max-width: 800px;
	}
	a {
		max-width: 500px;
		text-decoration: none;
	}
}

@media (max-width: 768px) {
	.window {
		height: auto;
		min-height: 85vh;
		padding: 5%;
		h1 {
			font-size: 5.2rem;
		}
		p {
			font-size: 2.5rem;
		}
		a {
			font-size: 2.5rem;
		}
	}
}
